@using EMA.Enums
@model Event
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div class="mb-3">
        <input hidden asp-for="Id" class="form-control" />
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="Type">Type</label>
            <input asp-for="Type" class="form-control form-control-lg" placeholder="Type" disabled/>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="FormatType">ClubCategory</label>
            <select asp-for="FormatType" asp-items="@Html.GetEnumSelectList<FormatType>()" class="form-control form-control-lg" disabled>
                <option>--Select--</option>
            </select>
            <span asp-validation-for="FormatType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" class="form-control form-control-lg" placeholder="Title" disabled/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" type="text" class="form-control form-control-lg" placeholder="Description" disabled/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="StartDate">StartDate</label>
            <input asp-for="StartDate" type="date" class="form-control form-control-lg"/>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="EndDate">EndDate</label>
            <input asp-for="EndDate" type="date" class="form-control form-control-lg" disabled/>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label asp-for="Location">Loacation</label>
            <input asp-for="Location" class="form-control form-control-lg" placeholder="City" disabled/>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        @* <div class="col">
        <label asp-for="Address.State">State</label>
        <input asp-for="Address.State" class="form-control form-control-lg" placeholder="State" />
        <span asp-validation-for="Address.State" class="text-danger"></span>
        </div>
        </div>
        <div class="form-row form-group">
        <div class="col">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control form-control-lg" placeholder="Image" />
        <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        </div>*@
        <div class="form-row form-group">
            <div class="col">
                <button class="btn btn-block btn-danger btn-lg" type="submit">Delete</button>
            </div>
        </div>
</form>

